@{
    ViewData["Title"] = "Example Page";
}

<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />
<style>
    .center {
        text-align: center !important;
    }

    .right {
        text-align: right !important;
    }
</style>

<div class="text-center">

    <a href="/Custom">Custom Implementation</a>
    <br />
    <a href="/">JQuery Implementation</a>
    <br />
    <a href="/jquery">JQuery Plain Implementation</a>
    <br />

    <h1 class="display-4">JQuery Data Table Implementation</h1>

    <br />

    <input type="button" value="Get Selected Ids" onclick="alert(window.peopleTable.selectedItems);" />

    <br />

    <table id="PeopleTable">
        <thead>
            <tr>
                <th><input type="checkbox" onclick="selectAll(event);" /></th>
                <th>Person Id</th>
                <th>Name</th>
                <th class="center">Date Of Birth</th>
                <th>Age</th>
                <th>City</th>
                <th class="right">Savings</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="~/js/data-tables-helper.js"></script>

<script>

    $(document).ready(function () {
        PopulatePeople();
    });

    function PopulatePeople() {

        var options = getDataTableDefaultOptions('@Url.Action("GetPeople", "Example")');

        options.columns = [
            {
                data: 'personid', 
                orderable: false,
                render: function (data, type, row) {
                    let selected = '';
                    if (window.peopleTable.containsSelectedItem(data)) {
                        selected = ' checked="checked" ';
                    }
                    return '<input type="checkbox"' + selected + ' onchange="window.peopleTable.setSelected(\'' + data + '\', this.checked )"/>';
                }
            },
            { data: 'personid' },
            { data: 'name' },
            {
                data: 'dob', 
                className: 'center',
                render: function (data, type, row) {
                    return formatDate(data);
                }
            },
            { data: 'age' },
            { data: 'city' },
            {
                data: 'savings', 
                className: 'right',
                render: function (data, type, row) {
                    return formatFloat(data, ' ');
                }
            },
            {
                data: 'name', 
                render: function (data, type, row) {
                    var city = row["city"];
                    var age = row["age"];
                    var sentence = data + ' lives in ' + city + ' and is ' + age + " years old";
                    return '<input type="button" value="' + data + '" onclick="alert(\'' + sentence + '\')" />';
                }
            }
        ]

        window.peopleTable = $('#PeopleTable').Table(options);

    };

    

</script>
